In [42]:
import pandas as pd

In [43]:
df = pd.read_csv("data/innovaid_hackathon_anima/output.csv")
df.head()

   Unnamed: 0                   sid  PHQ9  BDI
0           0  phCuOQH98uz4GwmMIvb7    21   20
1           1  SsLnwVPamBVnth2xfvtP    18   31
2           2  Ro2d4ko1sbAXgymERH1v    11   20
3           3  SKyBynt433ddTJgyz6fL     5    5
4           4  YCstEssT38mPc9moNvOo     2    2

In [44]:
df["has_depression"] = 0
df.loc[df["PHQ9"] >= 10, "has_depression"] = 1
df.head()

   Unnamed: 0                   sid  PHQ9  BDI  has_depression
0           0  phCuOQH98uz4GwmMIvb7    21   20               1
1           1  SsLnwVPamBVnth2xfvtP    18   31               1
2           2  Ro2d4ko1sbAXgymERH1v    11   20               1
3           3  SKyBynt433ddTJgyz6fL     5    5               0
4           4  YCstEssT38mPc9moNvOo     2    2               0

In [45]:
df["depression_severity"] = 0

df.loc[ (df["PHQ9"] >= 5) & (df["PHQ9"] <= 9), "depression_severity"] = 1
df.loc[ (df["PHQ9"] >= 10) & (df["PHQ9"] <= 14), "depression_severity"] = 2
df.loc[ (df["PHQ9"] >= 15) & (df["PHQ9"] <= 19), "depression_severity"] = 3
df.loc[ (df["PHQ9"] >= 20), "depression_severity"] = 4

df.head()

,Unnamed: 0,sid,PHQ9,BDI,has_depression,depression_severity
0,0,phCuOQH98uz4GwmMIvb7,21,20,1,4
1,1,SsLnwVPamBVnth2xfvtP,18,31,1,3
2,2,Ro2d4ko1sbAXgymERH1v,11,20,1,2
3,3,SKyBynt433ddTJgyz6fL,5,5,0,1
4,4,YCstEssT38mPc9moNvOo,2,2,0,0

In [46]:
df.to_csv("data/innovaid_hackathon_anima/output_classes.csv", index=False)